/* 全局属性 */
:root {
  /* 主色调 */
  --main-blue: #166ff3;
  --main-red: #ff6b6b;
  --main-green: #2ed573;
  --main-purple: #c94ae9;
  --main-yellow: #f9b03d;
  --select-text-bg-color: #3b3e4d;
  /* 背景色 */
  --bg-color: #F2F2F2;
  /* --bg-color: linear-gradient(135deg, #1c92d2, #f2fcfe); */
  --code-bg-color: #282c34;
  /* 淡化红色 */
  --item-bg-color-red: #f4433638;
  /* 淡化蓝色 */
  --item-bg-color-blue: #42a5f542;
  /* 字体 */
  --main-font-family: "Cascadia Code", "喵字果汁体", "微软雅黑", "PingFang SC", "Microsoft YaHei",
    sans-serif;
  --text-color: #333333;
  --primary-btn-text-color: #fff;
  --window-border: 1px solid #eee;
  --active-file-bg-color: #eee;
  --active-file-text-color: inherit;
  --active-file-border-color: var(--main-red);
  --side-bar-bg-color: var(--bg-color);
  --item-hover-bg-color: rgba(229, 229, 229, 0.59);
  --item-hover-text-color: var(--main-red);
  --monospace: monospace;
}

body {
  font-family: var(--main-font-family);
}

::-moz-selection {
  background: #b981d1;
  color: white;
}

::-webkit-selection {
  background: #b981d1;
  color: white;
}

#write {
  max-width: 914px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
}

/*段落*/
#write p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 26px;
  color: black;
}

/*  todo item 对齐 */
#write input[type="checkbox"] {
  margin-top: calc(1em - 2px);
  margin-right: 5px;
  left: -3px;
}

/*标题*/
/* #write h1, */
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
  margin: 0.72em 0;
  padding: 0px;
  font-weight: bold;
  color: black;
}

#write h2::before {
  bottom: 0.2rem;
  content: "H2";
}

#write h3::before {
  bottom: 0.2rem;
  content: "H3";
}

#write h4::before {
  bottom: 0.2rem;
  content: "H4";
}

#write h5::before {
  bottom: 0.2rem;
  content: "H5";
}

#write h6::before {
  bottom: 0.2rem;
  content: "H6";
}

/* #write h1::before, */
#write h2::before,
#write h3::before,
#write h4::before,
#write h5::before,
#write h6::before {
  border-radius: 0;
  bottom: 0;
  color: #166ff36e;
  float: none;
  font-size: 0.9rem;
  font-variant: "small-caps";
  font-weight: bold;
  left: auto;
  line-height: 20px;
  padding: 0;
  position: absolute;
  right: calc(100% + 10px);
  vertical-align: baseline;
}

#write h2 {
  font-size: 1.7rem;
  margin: 1em 0;
}

#write h2 span {
  font-weight: bold;
  color: #136ef7;
  padding: 3px 10px 1px;
}

#write h3 {
  font-size: 1.5rem;
}

#write h4 {
  font-size: 1.25rem;
}

#write h5 {
  font-size: 1rem;
}

#write h6 {
  font-size: 1rem;
}

/* 列表 */
#write ul,
#write ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 40px;
  color: var(--main-red);
}

#write ul {
  list-style-type: disc;
}

#write ul ul {
  list-style-type: square;
}

#write ol {
  list-style-type: decimal;
}

/* 列表内容 */
#write li section {
  font-size: 15px;
}

/* 字体加粗 */
/* #write strong::before {
  content: '「';
} */

#write strong {
  color: #136ef7;
  font-weight: bold;
}

/* #write strong::after {
  content: '」';
} */

/*引用*/

#write blockquote {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 10px 10px 10px 20px;
  font-size: 0.9em;
  background: #ffffff;
  border-left: 5px solid var(--main-blue);
  color: #6a737d;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* 添加过渡效果 */
}

#write blockquote:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  /* 鼠标悬浮时的阴影 */
  transform: scale(1.01);
  /* 鼠标悬浮时略微放大 */
}


#write blockquote p {
  line-height: 26px;
}

/* 超链接 */
#write a {
  text-decoration: none;
  font-weight: bold;
  color: #c94ae9;
  border-bottom: 2px solid #c94ae9;
}


/* background-color 由 rgba 转为 HEX*/
#write code {
  font-size: 14px;
  color: rgb(235, 76, 55);
  background-color: #f0f0f0;
  font-family: var(--main-font-family);
}

/* 行内代码 */
#write p code,
#write span code,
#write li code {
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  word-break: break-all;
}

/* 文章插图 */

#write img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* 动画效果 */
}

#write img:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  /* 添加阴影 */
  transform: scale(1.02);
  /* 悬浮时略微放大 */
}

#write table tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}

#write table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

#write table tr th,
#write table tr td {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}

#write table tr th {
  font-weight: bold;
  color: var(--main-blue);
  background-color: #42a5f53d;
}

/* 下角标 */
#write .md-def-name {
  padding-right: 2.3vw;
}

#write .md-def-name:before {
  content: "[";
  color: #000;
}

#write .md-def-name:after {
  color: #000;
}

/* 代码块主题 */
code,
.md-fences {
  padding: 0.5em;
  padding: 0.1em;
  border-radius: 5px;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.md-fences {
  margin: 0 0 20px;
  background-color: var(--code-bg-color);
  color: rgb(236, 236, 236);
  /* font-size: 1em; */
  padding: 0.3em 1em;
  padding-top: 0.4em;
  box-shadow: 0px 4px 9px grey;
}

/* 光标*/
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #26ed91;
  z-index: 5;
}

.cm-s-inner div.CodeMirror-selected {
  background: rgba(113, 124, 180, 0.2);
}


.cm-s-inner .cm-keyword {
  color: var(--main-purple);
}

.cm-s-inner .cm-operator {
  color: #89ddff;
}

.cm-s-inner .cm-variable-2 {
  color: #eeffff;
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #f07178;
}

.cm-s-inner .cm-builtin {
  color: #ffcb6b;
}

.cm-s-inner .cm-atom {
  color: #f78c6c;
}

.cm-s-inner .cm-number {
  color: #ff5370;
}

.cm-s-inner .cm-def {
  color: darkorange;
}

.cm-s-inner .cm-string {
  color: #00ad47;
}

.cm-s-inner .cm-string-2 {
  color: #f07178;
}

.cm-s-inner .cm-comment {
  color: #676e95;
}

.cm-s-inner .cm-variable {
  color: #42a5f5;
}


.cm-s-inner .cm-meta {
  color: var(--main-red);
}

.cm-s-inner .cm-attribute {
  color: #ad31ff;
}

.cm-s-inner .cm-property {
  color: var(--main-red);
}

.cm-s-inner .cm-qualifier {
  color: var(--main-red)
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #ea6717
}

.cm-s-inner .cm-error {
  color: rgba(255, 255, 255, 1);
  background-color: #e9405c;
}

/*流程图样式*/
pre[lang="sequence"],
pre[lang="flow"],
pre[lang="mermaid"] {
  background: #ffffff;
  color: #333333;
}

/* ---------------------------- 华丽的分割线 -------------------------------- */

/* 高亮 */
mark {
  font-weight: bold;
  background: #0070ff00;
  color: var(--main-red);
}

#write pre {
  font-family: var(--main-font-family);
}


/* 选中文本 */
.CodeMirror-selected,
.CodeMirror-selectedtext {
  background: #fe4e4e33 !important;
  text-shadow: none;
}

/* 数学公式 */
.md-fences-adv-panel,
.md-math-container,
.md-mathjax-preview {
  font-family: fantasy;
}

/* 搜索条件按钮 */
.searchpanel-search-option-btn.active {
  color: var(--main-blue);
  animation: colorChange 1s infinite;
}

/* 文件搜索条件按钮 */
span#filesearch-case-option-btn:active {
  color: var(--main-blue);
}

.md-inline-math-container mjx-container {
  zoom: 1;
}

/* 图片路径 */
.md-expand.md-img-loaded>.md-meta>span {
  color: var(--main-blue);
  font-family: var(--main-font-family);
}

.md-image>.md-meta {
  font-family: var(--main-font-family);
  color: var(--main-blue);
}

/* 左边树状标签背景(活动) */
.outline-item-active {
  border-left: 28px solid transparent;
  background: var(--item-bg-color-blue);
  margin-left: -28px;
  margin-right: -28px;
}

.pin-outline #outline-content .outline-active strong,
.pin-outline .outline-active {
  color: var(--main-blue);
  font-weight: 700;
}

/* 左边框顶部大纲底部颜色 */
.active-tab-files #info-panel-tab-file .info-panel-tab-border,
.active-tab-outline #info-panel-tab-outline .info-panel-tab-border {
  background-color: var(--main-blue);
}

/* 无序列表 */
#write ul {
  list-style-type: disclosure-closed;
}


.ion-close-round:before {
  color: var(--main-red);
}

#md-searchpanel .btn label {
  font-weight: bold;
  color: var(--main-blue);
}


/* 上角标 */
#write .md-footnote {
  font-weight: bold;
  color: var(--main-red);
}

/* 搜索结果高亮 */
.cm-search-hit.CodeMirror-selectedtext,
.md-search-hit.md-search-select,
.md-search-select {
  font-weight: bold;
  color: #ff0000;
  background: yellow;
}

/* 搜索结果 */
.md-search-hit {
  background-color: rgba(255, 255, 255, 0.123);
  contain: style;
  transform: translate3d(0, 0, 0);
}