:root {
  --select-text-bg-color: #3b3e4d;
  --main-blue: #166ff3;
  --main-red: #ff6b6b;
  --main-green: #2ed573;
  --main-purple: #c94ae9;
  --main-yellow: #f9b03d;
  --main-font-family: "Cascadia Code", "喵字果汁体", consolas, "微软雅黑", "PingFang SC", "Microsoft YaHei", sans-serif;
  --code--bg-color: #282c34;
  --code--bg-color-light: #3d404e;
  --item-bg-color-red: #f4433638;
  --item-bg-color-blue: #42a5f542;
}

body {
  font-family: var(--main-font-family);
}

/* 一级标题 */
#write h1 {
  font-size: 50px;
  text-align: center;
}

/** 有序、无序列表，来自Butterfly主题 **/

#write ul li,
#write ol li,
#write .ul .li,
#write .ol .li {
  list-style-type: none;
}

#write ul>li:not(.tab):before,
#write .ul>.li:not(.tab):before {
  margin-left: -22px;
  margin-top: 15px;
  width: 0.62em;
  height: 0.62em;
  border: 0.1em solid var(--main-blue);
  border-radius: 0.31em;
  content: "";
  line-height: 0.42em;
}

#write ol li:before,
#write ul li:before,
#write .ol .li:before,
#write .ul .li:before {
  position: absolute;
  background: var(--main-blue);
  color: var(--olfore-color);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#write ol li:first-child,
#write .ol .li:first-child {
  /* https://www.w3school.com.cn/cssref/pr_gen_counter-increment.asp */
  counter-reset: li;
}

#write ol li:hover:before,
#write ul li:hover:before,
#write .ol .li:hover:before,
#write .ul .li:hover:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

#write ul>li:not(.tab):hover:before,
#write .ul>.li:not(.tab):hover:before {
  border-color: var(--focus-color);
}

#write ol>li:before,
#write .ol>.li:before {
  color: #ffffff;
  margin-top: 12px;
  margin-left: -25px;
  width: 1.65em;
  height: 1.65em;
  border-radius: 0.825em;
  content: counter(li);
  counter-increment: li;
  text-align: center;
  font-size: 0.65em;
  line-height: 1.7em;
}

/* 列表子项上下间隔调整 */
#write ul li input,
#write ol li input,
#write .ul .li input,
#write .ol .li input {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* 列表上下间隔调整 */
#write ul li,
#write ol li,
#write .ul .li,
#write .ol .li {
  margin-top: 7px;
  margin-bottom: 7px;
}

/* 表格悬浮高亮 */
table tr:hover {
  background-color: #65666841;
}

/* 选中行高亮 */
.md-fences:not(.md-focus) .CodeMirror-code>*:hover {
  background-color: var(--code--bg-color-light);
}

/* 小标签 */
font {
  display: inline;
  padding: 0.2em 0.6em;
  font-size: 90%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  /*white-space: nowrap;*/
  vertical-align: baseline;
  border-radius: 0.1rem;
  border-radius: 6px;
  background-color: var(--main-blue);
}

font[title="red"] {
  background-color: #e91e64;
}

font[title="blue"] {
  background-color: #02aaf4;
}

font[title="yellow"] {
  background-color: #ffc50a;
}

font[title="green"] {
  background-color: #8bc34a;
}

font[title="gray"] {
  background-color: #4c4c4c;
}



/* 分割线 */
hr {
  height: 2px;
  background-color: transparent;
  border-top: 2px dashed var(--main-blue);
}

/* 键盘按键样式 */
kbd {
  font-family: 'cascadia code';
  font-weight: bold;
}

/* 目录[Toc]样式 */
p.md-toc-content {
  background: #ffffff;
  border-radius: 10px;
}


/* 顶部引用样式 */
pre.md-meta-block.md-end-block.md-focus {
  padding: 10px;
  background: white;
  border-radius: 10px;
}

#write>pre.md-meta-block.md-end-block {
  padding: 10px;
  background: white;
  border-radius: 10px;
}


/* 侧栏鼠标悬浮样式 */
.outline-label:hover {
  color: var(--main-blue);
}

/* 侧栏标签页样式 */
.info-panel-tab-title:hover {
  color: var(--main-blue);
}

/* 侧栏搜索样式 */
.ty-show-search #info-panel-tab-search .info-panel-tab-border {
  background-color: var(--main-blue);
}


/* 无序列表悬浮样式 */
#write ul>li:not(.tab):hover:before,
#write .ul>.li:not(.tab):hover:before {
  background-color: var(--main-red);
}


/* 错误通知样式 */
.md-notification-content {
  background: #ff00001a;
}

/* 待办事项-完成 */
.md-task-list-item.task-list-done span {
  color: #999;
  text-decoration: line-through;
}


/* 文件列表悬浮样式 */
.file-node-content:hover {
  color: var(--main-blue);
}

/* 文件列表选中样式 */
.file-library-node.file-tree-node.file-library-file-node.active {
  color: var(--main-blue)
}


/* 代码文本等 */
code,
pre,
samp,
tt {
  font-family: var(--main-font-family);
}


/* 数学公式源码字体 */
.md-rawblock-after,
.md-rawblock-before {
  font-family: var(--main-font-family);
}


/* 文件夹 */
.fa-folder:before {
  color: var(--main-yellow);
}

/* 图片路径 */
.md-image-btn:before {
  font-family: var(--main-font-family);
  color: var(--main-yellow);
}


/* 图片路径按钮 */
.md-image-btn {
  background: white;
}


/* 表格对话框 */
.modal-content {
  background: white;
  border-radius: 10px;
}

/* 视频 */
video {
  border-radius: 10px;
  box-shadow: 11px 10px 12px rgba(0, 0, 0, 0.5);
}

.md-alert {
  box-shadow: 3px 8px 10px 2px rgb(173 173 173);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: white;
}

/* github风格警告框 */
.md-alert.md-alert-warning {
  border-left-color: #faad14;
}

.md-alert-text-warning {
  color: #faad14;
}

/* 标题###颜色 */
.md-blockmeta {
  color: #777;
}

/* 表格阴影和圆角 */
figure.md-table-fig.table-figure {
  box-shadow: 5px 6px 9px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* 左侧栏大纲搜索高亮 */
.ty-on-outline-filter .ty-outline-hit {
  color: red;
  background: yellow;
  font-weight: bold;
}

/* 搜索框 */
#file-library-search-input,
#md-searchpanel input {
  border-radius: 5px;
  box-shadow: unset;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: var(--main-blue);
}


.form-control:focus {
  border-color: #c2c2c2;
  outline: 0;
}

.code-tooltip .ty-input:focus,
input:focus {
  border-color: unset;
  box-shadow: unset;
}

::selection {
  background: #42a5f554;
}

/* 一体化左侧菜单 */
.megamenu-menu-list li a.active,
.megamenu-menu-list:not(.saved) li a:hover {
  background-color: var(--item-hover-bg-color);
  color: var(--main-blue);
}

.megamenu-menu {
  background-color: #4d4d4d;
  color: white;
}


.typora-node.pin-outline #md-searchpanel,
.typora-node.pin-outline .md-notification-container {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}


.dropdown-menu {
  background: rgb(255 255 255 / 50%);
  backdrop-filter: blur(10px);
}

.menu-item-container a.menu-style-btn {
  background: transparent;
  backdrop-filter: blur(10px);
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
  color: white;
}

.cm-s-inner .cm-header,
.cm-s-inner.cm-header {
  color: var(--main-blue);
}

.outline-item:hover {
  background: var(--item-bg-color-red);
  margin-left: -28px;
  margin-right: -28px;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
}

/* 文件树 */
.file-library-node.file-tree-node.file-library-file-node:hover {
  background: var(--item-bg-color-blue);
}


/* 右键菜单 */
.context-menu.dropdown-menu>.active>a,
.context-menu.dropdown-menu>li>a:hover,
.menu-style-btn.active {
  background: var(--item-bg-color-blue);
  color: var(--main-blue);
}

text,
script {
  font-family: var(--main-font-family);
}

/* 高亮样式 */
span[alt="highlight"] {
  font-weight: bold;
  color: #ff0000;
  background: yellow;
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgba(0, 0, 0, 0.1);
}

/* -----------------------------源代码阅读模式 样式 ---------------------- */
/* 字体 */
#typora-source .CodeMirror-lines {
  font-family: var(--main-font-family);
  max-width: 90%;
  background: white;
  border-radius: 10px;
}

.CodeMirror-wrap .CodeMirror-code pre {
  font-family: var(--main-font-family);
}

/* 行代码 */
.cm-s-typora-default .cm-code,
.cm-s-typora-default .cm-comment {
  color: green;
  font-family: var(--main-font-family);
}

/* 代码标签 */
.cm-s-inner .cm-tag {
  color: var(--main-blue);
}

.cm-s-typora-default .cm-overlay {
  font-family: var(--main-font-family);
}

/* 行 */
.cm-s-typora-default .CodeMirror-activeline-background {
  left: -60px;
  right: -30px;
  background: rgb(152 152 152 / 20%);
}

/* 默认文本 */
.cm-s-typora-default .cm-atom,
.cm-s-typora-default .cm-number {
  color: var(--main-blue);
}

/* 行号 */
#typora-source .CodeMirror-activeline .CodeMirror-linenumber,
#typora-source .CodeMirror-linenumber.CodeMirror-linenumber-show {
  font-family: var(--main-font-family);
  color: var(--main-blue);
}


/* md内html标签 */
.md-html-inline .md-meta,
.md-ruby .md-meta {
  font-family: var(--main-font-family);
}


/* 鼠标悬浮表格行高亮 */
#write table tr:hover {
  background: rgb(255 255 255 / 34%);
}


/* 默认标签颜色 */
.cm-s-typora-default .cm-tag {
  color: #ff7800;
}


/* 链接文本 */
.cm-s-typora-default .cm-link {
  font-style: italic;
  color: #cd00dc;
  text-decoration: underline;
}